@using WebThoiTrang.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>


@Html.Action("dau", "Home")
<div class="well well-small">
    <h3><p>Sản phẩm Sales</p> </h3>
    <hr class="soften" />
    <div class="row-fluid">
        <div id="newProductCar" class="carousel slide">

            <div class="carousel-inner">
                <div class="item active">
                    <ul class="thumbnails">

                        @foreach (var item in Model)
                        {
                            <li class="span4">
                                <div class="thumbnail">
                                    <a class="zoomTool" href="@Url.Action("XemChiTietSanPham","Home", new { @MaSanPham = item.MaSanPham})"><span class="icon-search"></span> QUICK VIEW</a>
                                    <a href="@Url.Action("XemChiTietSanPham", "Home", new { @MaSanPham = item.MaSanPham})"><img src="@Url.Content("~/Images/"+item.HinhAnh)"></a>
                                    <div class="caption">
                                        <h5>@item.MaHienThi</h5>
                                        <h4>
                                            <a class="defaultBtn" href="product_details.html" title="Click to view"><span></span></a>

                                            <span class="pull-right">
                                                @item.DonGia VNĐ
                                            </span>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>

                </div>
            </div>

            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("SanPhamSales", new { page = page }))

        </div>
    </div>
    @Html.Action("cuoi", "Home")